body, html {
    height: 100%;
    margin: 0;
}

/*background image for body*/
.bg {
  background-image: url(https://wallpapertag.com/wallpaper/full/5/d/d/579959-free-crystal-hd-wallpapers-1920x1080.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: silver;
  font-weight: bold;
}

.buttons, .winlose, .title {
  margin-left: 50px;
}

.compscorebox, .userscorebox {
  margin-left: 100px;
}

#maintitle {
  margin-left: 500px;
  font-size: 38px;
  color: red;
}

.winlose, #userscore, h3 {
  font-size: 23px;
  color:rgb(232, 248, 8);
}

h2 {
  font-size: 25px;
  text-decoration: underline;
  color:rgb(16, 233, 34);
}

#game {
  background-color: rgb(21, 47, 133);
  opacity: 0.75;
  width: 65%;
}

#Wins, #Losses {
  margin-left: 100px;
  color:rgb(232, 248, 8); 
  font-size: 23px;
}
